img.logo {
	height: 65px;
}
.navbar-header img.logo {
	height: 35px;
	padding-bottom: 10px;
}
.product-summary, .more-link, .addtocart {
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	font-size: 19px;
}
.addtocart {
	font-weight: 500
}
.product-summary, .more-link {
	font-weight: 300;
}
.product p {
    font-size: 19px;
}
.padding-top {
	padding-top: 25px;
}
.tuotetiedot p {
	font-size: 16px;
}
ul.product .fa {
	font-size: 14px;
	padding-left: 10px;
}
.black, .more-link {
	color: black;
}
.padding-bottom {
	padding-bottom: 20px;
}
.white {
	color: white;
}
.header-content-inner p {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 20px;
}
header.temporary h3 {
	font-family: 'Rouge Script', cursive;
	font-size: 40px;
	color: #181818;
}
a.no-hover:hover {
	text-decoration: none;
}
.inline-block {
	display: inline-block;
}
/* svg muokkauksia */
article {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 15px;
}
.article {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 15px;
	flex-direction: row;
}
/*
.header-content-inner {
	text-shadow: 0 0 10px black;
}